<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
    <h:form>
    	<h:dataTable value="#{registroBean.candidatosModel}"
    		var="candidato">
    		<h:column>
    			<f:facet name="header">CPF</f:facet>
    			<h:outputText value="#{candidato.cpf}"/>
    		</h:column>
    		<h:column>
    			<f:facet name="header">Nome</f:facet>
    			<h:commandLink action="#{registroBean.visualizarCandidato}" value="#{candidato.nome}"></h:commandLink>
    		</h:column>
    		<h:column>
    			<f:facet name="header">Cidade</f:facet>
    			<h:outputText value="#{candidato.cidade}"/>
    		</h:column>
    		<h:column>
    			<f:facet name="header">Estado</f:facet>
    			<h:outputText value="#{candidato.estado}"/>
    		</h:column>
    		<h:column>
    			<f:facet name="header">Excluir</f:facet>
    			<h:commandButton action="#{registroBean.excluirCandidato}" value="Excluir" label="Excluir"/>
    		</h:column>
    	</h:dataTable>    
    </h:form>
    </ui:define>

</ui:composition>
