<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <form method="post" action="j_security_check">
            <div style="margin: 1em 0">
                <div>
                    <label for="usuarioInput">Usuário</label>
                    <input id="usuarioInput" type="text" name="j_username"/>
                </div>
                <div>
                    <label for="senhaInput">Senha</label>
                    <input id="senhaInput" type="password" name="j_password"/>
                </div>
            </div>
            <input type="submit" value="Entrar"/>
        	<div style="margin: 1em 0; color: red">#{param['result'] != "erro" ? "" : "Acesso negado"}</div>
        </form>
    </ui:define>

</ui:composition>
